html, body
{
  background-color: black;
  color: #fff;
}

h1
{
  color: #fff;
}

h2, h3, h4, h5, h6
{
  color: #ddd;
}

#ingredients-wrapper [class*="row"]
{
  margin-top: 10px;
  margin-bottom: 20px;
}

#ingredients-wrapper a
{
  display: block;
  min-height: 50px;
  line-height: 50px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  color: #fff;
}

#bar-wrapper .progress,
#bar-wrapper .bar
{
  background-color: transparent;
  background-image: none;
}

#results-wrapper p
{
  font-size: 16px;
}

#results-wrapper .btn
{
  background-color: #333;
  cursor: default;
}

#equation-wrapper
{
  min-height: 40px;
}

#equation-wrapper .btn,
#results-wrapper .btn
{
  color: #fff;
  background-image: none;
  text-shadow: 0 1px 1px rgba(10,10,10,0.75);
  border-color: #000;
}

#equation-wrapper .btn.coefficient
{
  background-color: #333;
  webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
}

#equation-wrapper .coefficient-menu
{
  background-color: #333;
  min-width: 60px;
  padding: 5px 0 5px 5px;
}

#equation-wrapper .coefficient-menu input
{
  width: 40px;
  margin-bottom: 0;
}

#equation-wrapper .btn .caret
{
  border-top: 4px solid #fff;
  margin-left: 4px;
}

.eq-component:after
{
  content: "+";
  display: inline-block;
  width: 20px;
  color: #ddd;
  font-size: 30px;
  position: relative;
  right: -3px;
  top: 3px;
}

.eq-component:last-child:after
{
  content: "=";
}