<article class="essay">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 article-body">
      <h1 class="article-title"><a ng-href="#!/post/{{ item.id }}">{{ item.title }}</a></h2>
      <h2 class="article-subtitle">{{ item.subtitle }}</h2>
      <div ng-bind-html="item.post"></div>
    </div>
  </div>
  <footer>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <ol class="list-unstyled citations" ng-repeat="citation in item.citations">
          <li ng-bind-html="citation.citation"></li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        Written {{ item.dateAdded | amDateFormat: "LLLL" }}<br>
        <span ng-if="item.latlng">{{ item.latlng }}<br></span>
        Permalink: <a href="#!/post/{{ item.id }}">whereslucian.com/#!/post/{{ item.id }}</a>
      </div>
    </div>
  </footer>
</article>