<div class="navbar navbar-fixed-top" role="navigation" bs-navbar>
  <div class="navbar-header">
    <div class="navbar-brand-wrapper">
      <a class="navbar-brand" href="#">
        Where’s Lucian?
      </a>
    </div>
  </div>
  <div class="collapse navbar-collapse pull-right" id="main-menu">
    <ul class="nav navbar-nav" bs-nav>
      <li data-match-route="^/?$"><a href="#/">Home</a></li>
      <li><a href="/projects">Projects</a></li>
      <li data-match-route="/about"><a href="#/about">About</a></li>
    </ul>
  </div> <!--/.nav-collapse -->
  <div class="animate-search pull-left" role="search">
    <div class="animate-search-cse">
      <script>
        (function() {
          var cx = '018285591766067027891:be6sfye5sww';
          var gcse = document.createElement('script');
          gcse.type = 'text/javascript';
          gcse.async = true;
          gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
              '//www.google.com/cse/cse.js?cx=' + cx;
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(gcse, s);
        })();
      </script>
      <gcse:searchbox-only></gcse:searchbox-only>
    </div>
  </div>
</div>